* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

:root {
  --lightest-colour: rgb(253, 252, 252);
  --pink-colour: rgb(241, 223, 223);
  --light-colour: rgb(236, 222, 209);
  --darkest-colour: rgb(48, 38, 38);
  --dark-colour: rgb(105, 86, 69);
  --accent-colour: rgb(252, 107, 9);
  --accent-colour2: rgb(246, 240, 78);
  --serif-font: "Playfair Display", serif;
  --sans-font2: "Manrope", sans-serif;
  --sans-font: "Assistant", sans-serif;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: var(--sans-font);
  color: var(--darkest-colour);
}

strong {
  font-family: var(--serif-font);
  font-style: italic;
  font-weight: 600;
  color: var(--darkest-colour);
  letter-spacing: 0.12rem;
}

body {
  background-color: var(--lightest-colour);
  overflow-x: hidden;
}

/* ////// NAV //////// */

#logo {
  height: 40px;
  align-self: flex-end;
  padding-bottom: 0.8rem;
}

#burger {
  width: 3%;
  min-width: 50px;
  position: absolute;
  top: 31.5px;
  right: 6rem;
}

#burger .line-3 {
  stroke-width: 5;
}

#burger .line-1 {
  transform: translateY(-40px);
}

#burger .line-2 {
  transform: translateY(-20px);
}

#logo .cls-1 {
  stroke: var(--accent-colour);
  stroke-width: 4px;
}

nav {
  /* border-bottom: var(--darkest-colour) 4px solid; */
  background-color: var(--lightest-colour);
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  position: relative;
  height: 100px;
  max-width: 1440px;
  margin: auto;
}

nav::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--darkest-colour);
  top: 100%;
  width: 80%;
}

/*//////  HEADER   ////////*/
header {
  background-color: var(--lightest-colour);
  position: relative;
  z-index: -2;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1915px;
  margin: auto;
}

#fonts_ui header {
  display: grid;
  grid-template-columns: 45% 1fr;
}

#squiggle1 {
  width: 68vw;
  height: 26vh;
  justify-self: center;
}

.speckle {
  background: url("images/speckle3.png");
  filter: blur(0.1rem);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 200%;
  height: 100%;
  width: 95vw;
  position: absolute;
  top: -5%;
  z-index: -1;
  right: 0;
}

header h1 {
  font-size: 3.05rem;
  padding: 3rem 0 0 3rem;
  line-height: 3.05rem;
  font-weight: 400;
}

#fonts_ui h1 {
  grid-column: span 2;
}

.ley {
  color: var(--dark-colour);
  font-family: var(--sans-font);
  font-weight: 600;
  letter-spacing: 0.2px;
  font-style: normal;
}

header h2 {
  align-self: flex-end;
  position: relative;
  right: 30%;
  font-size: 2.44rem;
  margin-bottom: 1rem;
  line-height: 2.44rem;
  font-weight: 600;
}

#fonts_ui header h2 {
  padding-top: 9rem;
  text-align: center;
  position: unset;
  align-self: auto;
}

#squiggle2 {
  align-self: center;
  height: 24vh;
  width: 100%;
}

#fonts_ui #squiggle3 {
  width: 66%;
  position: relative;
  left: 34%;
}

main {
  padding: 2rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgb(253, 252, 252), rgb(241, 223, 223)), url("noise.svg");
}

.main-text {
  margin-top: 3rem;
  max-width: 700px;
  margin: auto;
}

main h3 {
  text-align: center;
  font-size: 1.95rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.21rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
  max-width: 1800px;
}

.card {
  background-color: rgb(241, 223, 223, 10%);
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border-radius: 4px;
  justify-content: space-between;
  box-shadow: 5px 4px 9px 2px rgb(22, 22, 22, 8%);
  max-width: 276px;
}

.card:hover {
  background-color: rgb(241, 223, 223, 40%);
}
.card p {
  color: var(--dark-colour);
}

.card h4 {
  font-size: 1.53rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card button {
  font-family: var(--sans-font);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  background-color: var(--accent-colour2);
  width: 50%;
  border: none;
  color: var(--darkest-colour);
  padding: 0.32rem;
  border-radius: 2px;
  margin-bottom: 0.64rem;
}

.card button:hover {
  background-color: var(--accent-colour);
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-colour);
  padding: 2rem;
}

.footer_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h4 {
  color: var(--lightest-colour);
  margin-bottom: 0.8rem;
}

footer a {
  color: var(--accent-colour);
}

footer a:hover {
  color: var(--accent-colour2);
}

footer #logo {
  align-self: center;
  padding: 0.8rem 0;
  padding: 0;
}

@media screen and (min-width: 1950px) {
  .speckle {
    background-position: right;
  }
}

@media screen and (max-width: 1200px) {
  #squiggle1 {
    height: 15vh;
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    padding: 0;
  }
  nav #logo {
    padding-left: 0.8rem;
  }

  #burger {
    right: 0.8rem;
  }
  header {
    padding: 0.8rem;
  }

  #fonts_ui header {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 0 0.8rem 3rem 0.8rem;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    padding: 0;
  }

  header h1 {
    padding: 2rem 0;
    font-size: 2.44rem;
    line-height: 3.05rem;
  }

  #fonts_ui header h1 {
    padding: 2rem 0 1rem 0;
  }

  header h2 {
    padding: 0;
    position: initial;
    font-size: 1.95rem;
    line-height: 2.44rem;
  }

  #fonts_ui header h2 {
    padding: 1rem 0;
  }

  #squiggle1 {
    width: 82vw;
    height: 13vh;
  }

  #squiggle2 {
    width: 82vw;
    height: 13vh;
  }

  #fonts_ui #squiggle3 {
    width: 46%;
    left: 9%;
    transform: rotate(8deg);
  }
}
